@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --sb-track-color: #232e33;
  --sb-thumb-color: #45464c;
  --sb-size: 10px;
  font-family: "Barlow", sans-serif;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
}

::-webkit-scrollbar {
  width: var(--sb-size) !important;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color) !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color) !important;
  border-radius: 10px !important;
}
